Package: xfig-doc
Source: xfig
Version: 1:3.2.7b-2
Architecture: all
Maintainer: Roland Rosenfeld <roland@debian.org>
Installed-Size: 5406
Suggests: firefox-esr | www-browser, xfig, xpdf | pdf-viewer
Section: doc
Priority: optional
Homepage: https://sourceforge.net/projects/mcj/
Description: XFig on-line documentation and examples
 XFig is a menu-driven tool that allows the user to draw and
 manipulate objects interactively in an X window.  The resulting
 pictures can be saved.  If the fig2dev program is installed, which is
 contained in the fig2dev package, the pictures can be printed on
 postscript printers or converted to a variety of other formats (e.g.
 to allow inclusion in LaTeX documents or web pages).
 .
 This package contains on-line documentation in HTML and PDF formats
 as well as the graphics examples distributed with XFig.
