Package: xfig
Version: 1:3.2.7b-2
Architecture: amd64
Maintainer: Roland Rosenfeld <roland@debian.org>
Installed-Size: 1798
Depends: fig2dev | transfig (>= 1:3.2.5-alpha4-1), sensible-utils, libc6 (>= 2.29), libjpeg8 (>= 8c), libpng16-16 (>= 1.6.2-1), libx11-6, libxi6, libxpm4, libxt6, xaw3dg (>= 1.5+E-1)
Recommends: xfig-libs
Suggests: cups-client | lpr, ghostscript, gimp, gsfonts-x11 (>= 0.7), netpbm, spell, xfig-doc (>= 1:3.2.5-alpha4-1)
Breaks: transfig (<< 1:3.2.5-alpha4-1), xfig-doc (<< 1:3.2.5-alpha4-1)
Section: graphics
Priority: optional
Homepage: https://sourceforge.net/projects/mcj/
Description: Facility for Interactive Generation of figures under X11
 XFig is a menu-driven tool that allows the user to draw and
 manipulate objects interactively in an X window.  The resulting
 pictures can be saved.  If the fig2dev program is installed, which is
 contained in the fig2dev package, the pictures can be printed on
 postscript printers or converted to a variety of other formats (e.g.
 to allow inclusion in LaTeX documents or web pages).
 .
 This package contains the xfig program itself.
 .
 You should think about installing the fig2dev package to export the
 graphics to several common formats.  You should also think about
 installing xfig-doc, which contains the documentation and xfig-libs,
 which contains several clip art libraries.
