Package: xfig-libs
Source: xfig
Version: 1:3.2.7b-2
Architecture: all
Maintainer: Roland Rosenfeld <roland@debian.org>
Installed-Size: 9823
Suggests: xfig (>= 1:3.2.5-alpha4-1)
Breaks: xfig (<< 1:3.2.5-alpha4-1)
Section: graphics
Priority: optional
Multi-Arch: foreign
Homepage: https://sourceforge.net/projects/mcj/
Description: XFig image libraries and examples
 XFig is a menu-driven tool that allows the user to draw and
 manipulate objects interactively in an X window.  The resulting
 pictures can be saved.  If the fig2dev program is installed, which is
 contained in the fig2dev package, the pictures can be printed on
 postscript printers or converted to a variety of other formats (e.g.
 to allow inclusion in LaTeX documents or web pages).
 .
 This package contains several clip art libraries including arrows,
 flowcharts, charts, labels, knitting, GUI, chemical process
 flowsheets, logic, digital signal processing, Entity Relationship
 diagrams, UML, electronic, electrical, hospital equipment, structural
 analysis, optics, audiovisual objects, computers, networks,
 mechanical (DIN), music, welding, office equipment, furniture,
 buildings, flags, maps and several examples.
